{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="//cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" />
        {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
        <link rel="stylesheet" href='/static/css/style.css' />
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
        <script src="{% static 'fontawesomefree/js/fontawesome.js' %}"></script>
        <script src="{% static 'fontawesomefree/js/solid.js' %}"></script>
        <script src="{% static 'fontawesomefree/js/brands.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="//cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>

        
    </head>

    <body>
        {% include 'navbar.html' %} {% block content %} {% endblock %} {% include 'footer.html' %}
    </body>
</html>
