{% extends 'base.html' %} {% block title %}Utilizadores{% endblock %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Utilizadores</h2>
            <table id="utilizadorestable" class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Email</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in utilizadores %}
                    <tr>
                        <td><b>{{ user.1 }}</b></th>
                        <td>{{ user.2 }}</td>
                        <td>{{ user.4 }}</td>
                        <td style="min-width: 88px">
                            <button
                                type="button"
                                class="btn btn-primary"
                                data-bs-toggle="modal"
                                data-bs-target="#editModal{{ componente.0 }}"
                            >
                                <i class="fas fa-edit"></i>
                            </button>
                            <button
                                type="button"
                                class="btn btn-danger"
                                data-bs-toggle="modal"
                                data-bs-target="#deleteModal{{ componente.0 }}"
                            >
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#utilizadorestable").DataTable({
            language: {
                url: "//cdn.datatables.net/plug-ins/1.10.25/i18n/Portuguese.json",
            },
            columnDefs: [{ targets: -1, orderable: false }],
            dom: 'lf<rt>ip',
            initComplete: function () {
                var btn = $(
                    `<button type="button" class="btn btn-success" data-bs-toggle="modal" 
                    data-bs-target="#deleteModal{{ componente.0 }}">Adicionar Utilizador</button>`
                );
                $(".dataTables_filter").append(btn);
            },
        });
    });
</script>
{% endblock %}
