{% extends 'base.html' %}

{% block title %}Equipamentos{% endblock %}

{% block content %}
<style>
    .listacomponentes li a:hover {
        background-color: #dc3545;
        cursor: pointer;
        color: white !important;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Equipamentos</h2>
            <table id="equipamentostable" class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Preço</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for equipamento in equipamentos %}
                    <tr>
                        <td><b>{{ equipamento.1 }}</b></td>
                        <td>{{ equipamento.2 }}</td>
                        <td>{{ equipamento.3 }}</td>
                        <td>{{ equipamento.4|floatformat:2 }}€</td>
                        <td style="min-width: 105px;">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#editModal{{ equipamento.0 }}"><i class="fas fa-edit"></i></button>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#deleteModal{{ equipamento.0 }}"><i class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                    <div name="editdeletemodal">
                        {% include 'modals/equipamentos/editdeleteequipamento.html' %}
                    </div>
                    {% endfor %}
                </tbody>
            </table>
            {% include 'modals/equipamentos/createequipamento.html' %}
        </div>
    </div>
</div>


<script>
    let selectedRow = "";
    $(document).ready(function () {
        $("#equipamentostable").DataTable({
            language: {
                url: "//cdn.datatables.net/plug-ins/1.10.25/i18n/Portuguese.json",
                sSearch: "",
            },
            columnDefs: [{ targets: -1, orderable: false }],
            dom: "lf<rt>ip",
            initComplete: function () {
                let btn = $(
                    `<button style="max-height: 36px; max-width: 181px;" type="button" class="btn btn-success" data-bs-toggle="modal"
                data-bs-target="#createModal">Adicionar Equipamento</button>`
                );
                $(".dataTables_filter").append(btn);
                $(".dataTables_filter input").attr("placeholder", "Procurar");

                $("#equipamentostable tbody").on("click", "button", function () {
                    let table = $("#equipamentostable").DataTable();
                    let row = table.row($(this).parents("tr"));
                    selectedRow = row.index();
                });

                $("select[name='equipamento']").change(function () {
                    let equipamentoId = this.id.replace('equipamento', '');
                    let errorDiv = $('#equipamentoserr' + equipamentoId);
                    errorDiv.text('');
                    errorDiv.addClass('d-none')
                });

                $(document).on("change", "select[name='tipo']", function () {
                    console.log("asd")
                    if (this.getElementsByTagName('option')[0].value == 0)
                        this.removeChild(this.getElementsByTagName('option')[0]);
                    let equipamentoId = this.id.replace('tipo', '');
                    console.log(equipamentoId)
                    $('#btnaddcomponentes' + equipamentoId).prop('disabled', false);
                    let errorDiv = $('#componenteserr' + equipamentoId);
                    errorDiv.text('');
                    errorDiv.addClass('d-none')

                    let selectedTipo = $(this).find(":selected").text().trim();
                    $('#componente' + equipamentoId).empty();

                    let componentesList = [{% for componente in componentes %}"{{ componente }}", {% endfor %}];

                    componentesList.forEach((componente, index) => {
                        componente = JSON.parse(componente.replace(/&#x27;/g, '"').replace('True', '"True"').replace('False', '"False"'));
                        if (componente[3] == selectedTipo) {
                            $('#componente' + equipamentoId).append(`<option value="${componente[0]}">${componente[1]}</option>`);
                        }
                    });
                });
            },
        });
    });

    function isFormValid(equipamento) {
        let isvalid = true;

        equipamento.nome == ""
            ? (addInvalidCssClass('nome', isvalid, equipamentoId), err = "Campo obrigatório por preencher")
            : nome.length > 50 || nome.length < 5
                ? (addInvalidCssClass('nome', isvalid, equipamentoId), isvalid = false, err = "Nome tem de ter entre 5 e 50 caracteres")
                : $('#nome' + equipamentoId).removeClass('is-invalid');

        equipamento.descricao == ""
            ? (addInvalidCssClass('descricao', isvalid, equipamentoId), isvalid = false, err = "Campo obrigatório por preencher")
            : descricao.length > 255 || descricao.length < 10
                ? (addInvalidCssClass('descricao', isvalid, equipamentoId), isvalid = false, err = "Descrição tem de ter entre 10 e 200 caracteres")
                : $('#descricao' + equipamentoId).removeClass('is-invalid');

        equipamento.preco == ""
            ? (addInvalidCssClass('preco', isvalid, equipamentoId), isvalid = false, err = "Campo obrigatório por preencher")
            : isNaN(preco)
                ? (addInvalidCssClass('preco', isvalid, equipamentoId), isvalid = false, err = "Preo tem de ser um número")
                : preco < 0
                    ? (addInvalidCssClass('preco', isvalid, equipamentoId), isvalid = false, err = "Preco não pode ser negativo")
                    : $('#preco' + equipamentoId).removeClass('is-invalid');

        equipamento.iva == ""
            ? (addInvalidCssClass('iva', isvalid, equipamentoId), isvalid = false, err = "Campo obrigatório por preencher")
            : isNaN(iva)
                ? (addInvalidCssClass('iva', isvalid, equipamentoId), isvalid = false, err = "Iva tem de ser um número")
                : iva < 0 || iva > 100
                    ? (addInvalidCssClass('iva', isvalid, equipamentoId), isvalid = false, err = "Iva tem de ser um número entre 0 e 100")
                    : $('#iva' + equipamentoId).removeClass('is-invalid');
        let errorDiv = $('#err' + equipamentoId);

        isvalid
            ? (errorDiv.text(''), isvalid = true, errorDiv.addClass('d-none'))
            : (errorDiv.text(err), errorDiv.removeClass('d-none'));

        return isvalid;
    }

    function addInvalidCssClass(campo, isvalid, equipamentoId) {
        $('#' + campo + equipamentoId).addClass('is-invalid');
        isvalid = false;
    }

    function saveEquipamento(equipamentoId) {
        equipamento = {
            id: equipamentoId,
            nome: $('#nome' + equipamentoId).val(),
            descricao: $('#descricao' + equipamentoId).val(),
            tipo: $('#tipo' + equipamentoId).val(),
            preco: $('#preco' + equipamentoId).val(),
            iva: $('#iva' + equipamentoId).val(),
            image: imagebytea == "" ? $('#imagemcomponente' + equipamentoId).attr('src') : imagebytea
        }
        if (equipamentoId == "")
            equipamento.criadoPor = "{{ request.session.user.0 }}";
        if (!isFormValid(equipamento))
            return;

        $.ajax({
            url: "/gerircomponentes",
            type: "POST",
            data: { componente: JSON.stringify(Object.values(equipamento)), csrfmiddlewaretoken: '{{ csrf_token }}', action: equipamentoId == "" ? 'add' : 'edit' },
            success: function (response) {
                if (response == "edit") {
                    $('#editModal' + equipamentoId).modal('hide');
                    $('#editModal' + equipamentoId).on('hidden.bs.modal', function () {
                        let table = $('#componentestable').DataTable();
                        let row = table.row(selectedRow);
                        if (row) {
                            row.data([
                                `<b>${equipamento.nome}</b>`,
                                equipamento.descricao.length > 130 ? equipamento.descricao.substring(0, 130) + "..." : equipamento.descricao,
                                $('#tipo' + equipamentoId + ' option:selected').text(),
                                equipamento.preco + "€",
                                `<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal${equipamentoId}"><i class="fas fa-edit"></i></button>
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal${equipamentoId}"><i class="fas fa-trash"></i></button>`
                            ]).draw(false);
                            $('#editModal' + equipamentoId).unbind('hidden.bs.modal');
                        }
                    });
                    return;
                }
                if (response.includes("add")) {
                    response = JSON.parse(response.replace("add,", ""));
                    
                    let newId = response[0];
                    response[4] = parseFloat(response[4]).toFixed(2);
                    equipamento.preco = parseFloat(equipamento.preco).toFixed(2);
                    $('#createModal').modal('hide');
                    $('#createModal').on('hidden.bs.modal', function () {
                        let newRow = [
                            `<strong>${equipamento.nome}</strong>`,
                            equipamento.descricao.length > 130 ? equipamento.descricao.substring(0, 130) + "..." : equipamento.descricao,
                            $('#tipo option:selected').text(),
                            equipamento.preco + "€",
                            `<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal${newId}"><i class="fas fa-edit"></i></button>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal${newId}"><i class="fas fa-trash"></i></button>`
                        ];
                        let table = $('#componentestable').DataTable();
                        table.row.add(newRow).draw();

                        $('#nome').val("");
                        $('#descricao').val("");
                        $('#preco').val("");
                        $('#iva').val("");
                        $('#imagemcomponente').attr('src', "");
                        $('#image').val("");
                        $('#tipo').val($('#tipo option:first').val());
                        imagebytea = "";
                        $('#createModal').unbind('hidden.bs.modal');
                        componentValues = Object.values(response);

                        $.ajax({
                            url: "modals/componentes/editdeletecomponente",
                            type: "POST",
                            data: { componente: JSON.stringify(componentValues), csrfmiddlewaretoken: '{{ csrf_token }}' },
                            success: function (response) {
                                equipamento = {};
                                let modal = response;
                                $('div[name="editdeletemodal"]').last().after(modal);
                            },
                            error: function (xhr, errmsg, err) {
                                console.log(xhr.status + ": " + xhr.responseText);
                            }
                        });

                    });
                    return;
                }

            },

            error: function (xhr, errmsg, err) {
                console.log(xhr.status + ": " + xhr.responseText);
            }
        });
    };

    function convertImageToBytea(equipamentoId) {
        var reader = new FileReader();
        reader.readAsDataURL($('#image' + equipamentoId)[0].files[0]);
        reader.onload = function () {
            imagebytea = reader.result;
            $('#imagemcomponente' + equipamentoId).attr('src', imagebytea);
        };
        reader.onerror = function (error) {
            console.log('Error: ', error);
        };
    }

    function deletecomponente(equipamentoId) {
        $.ajax({
            url: "/gerircomponentes",
            type: "POST",
            data: { id: equipamentoId, csrfmiddlewaretoken: '{{ csrf_token }}', action: 'delete' },

            success: function (json) {
                $('#deleteModal' + equipamentoId).modal('hide');
                $('#deleteModal' + equipamentoId).on('hidden.bs.modal', function () {
                    let table = $('#componentestable').DataTable();
                    table.row(selectedRow).remove().draw();
                    $('#deleteModal' + equipamentoId).unbind('hidden.bs.modal');
                });
            },

            error: function (xhr, errmsg, err) {
                console.log(xhr.status + ": " + xhr.responseText);
            }
        });
    };

    function addComponentToList(fornecedorId) {
        let componenteId = $('#componente' + fornecedorId).val();
        let componenteName = $('#componente' + fornecedorId + ' option:selected').text();
        let list = $('#addedcomponentes' + fornecedorId);
        let errorDiv = $('#componenteserr' + fornecedorId);

        if (list.find(`li:contains(${componenteName})`).length == 0)
            list.append(`<li onclick="this.parentNode.removeChild(this);"><a id="${componenteId}">${componenteName}</a></li>`);
        else {
            errorDiv.text("Componente já foi adicionado à lista")
            errorDiv.removeClass('d-none');
        }
    }
</script>
{% endblock %}