{% extends 'base.html' %}

{% block title %}Componentes{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Componentes</h2>
            <table id="componentestable" class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Preço</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for componente in componentes %}
                    {% if componente.9 %}
                    <tr>
                        <td id="nomecomponente{{ componente.0 }}"><b>{{ componente.1 }}<b></td>
                        <td id="descricaocomponente{{ componente.0 }}">{{ componente.2|truncatechars:130 }}</td>
                        <td id="tipocomponente{{ componente.0 }}">{{ componente.3 }}</td>
                        <td id="precocomponente{{ componente.0 }}">{{ componente.4|floatformat:2 }}€</td>
                        <td style="min-width: 88px;">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#editModal{{ componente.0 }}"><i class="fas fa-edit"></i></button>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#deleteModal{{ componente.0 }}"><i class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                    <div name="editdeletemodal">
                        {% include 'modals/componentes/editdeletecomponente.html' %}
                    </div>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>

            {% include 'modals/componentes/createcomponente.html' %}
        </div>
    </div>
</div>

<script>
    let imagebytea = "";
    let err = "";
    let selectedRow = "";

    $(document).ready(function () {
        $("#componentestable").DataTable({
            language: {
                url: "//cdn.datatables.net/plug-ins/1.10.25/i18n/Portuguese.json",
                sSearch: ""
            },
            columnDefs: [{ targets: -1, orderable: false }],
            dom: 'lf<rt>ip',
            initComplete: function () {
                let btn = $(
                    `<button type="button" class="btn btn-success" data-bs-toggle="modal" 
                data-bs-target="#createModal">Adicionar Componente</button>`
                );
                $(".dataTables_filter").append(btn);
                $('.dataTables_filter input').attr('placeholder', 'Procurar');
                let dropdown = $(
                    `<select style="max-height: 36px; max-width: 181px;" id="tipo-filter" class="form-select form-select-sm" aria-label=".form-select-sm example">
                    <option value="">Todos</option>
                    {% for tipo in tiposcomponente %}
                    <option value="{{ tipo.0 }}">{{ tipo.1 }}</option>
                    {% endfor %}
                    </select>`
                );
                $(".dataTables_filter").prepend(dropdown);
                $('#tipo-filter').on('change', function () {
                    let selectedValue = $(this).find(":selected").text() != "Todos" ? $(this).find(":selected").text() : "";

                    $('#componentestable').DataTable().column(2).search(selectedValue).draw();

                });

                $('#componentestable tbody').on('click', 'button', function () {
                    let table = $('#componentestable').DataTable();
                    let row = table.row($(this).parents('tr'));
                    selectedRow = row.index();
                });
            }
        });

    });

    $('input[name="preco"]').on('input', function () {
        if (this.value.includes('.')) {
            if (this.value.split('.')[1].length > 2)
                this.value = this.value.slice(0, -1);
        }
    });

    $('input[name="iva"]').on('input', function () {
        if (this.value.length > 2 && this.value[0] != 1)
            this.value = this.value.slice(0, -1);
        else if (this.value.length > 3 && this.value[0] == 1)
            this.value = this.value.slice(0, -1);
    });

    function isFormValid(nome, descricao, tipo, preco, iva, image, componentId) {
        let isvalid = true;

        nome == ""
            ? (addInvalidCssClass('nome', isvalid, componentId), err = "Campo obrigatório por preencher")
            : nome.length > 50 || nome.length < 5
                ? (addInvalidCssClass('nome', isvalid, componentId), isvalid = false, err = "Nome tem de ter entre 5 e 50 caracteres")
                : $('#nome' + componentId).removeClass('is-invalid');

        descricao == ""
            ? (addInvalidCssClass('descricao', isvalid, componentId), isvalid = false, err = "Campo obrigatório por preencher")
            : descricao.length > 255 || descricao.length < 10
                ? (addInvalidCssClass('descricao', isvalid, componentId), isvalid = false, err = "Descrição tem de ter entre 10 e 200 caracteres")
                : $('#descricao' + componentId).removeClass('is-invalid');

        preco == ""
            ? (addInvalidCssClass('preco', isvalid, componentId), isvalid = false, err = "Campo obrigatório por preencher")
            : isNaN(preco)
                ? (addInvalidCssClass('preco', isvalid, componentId), isvalid = false, err = "Preo tem de ser um número")
                : preco < 0
                    ? (addInvalidCssClass('preco', isvalid, componentId), isvalid = false, err = "Preco não pode ser negativo")
                    : $('#preco' + componentId).removeClass('is-invalid');

        iva == ""
            ? (addInvalidCssClass('iva', isvalid, componentId), isvalid = false, err = "Campo obrigatório por preencher")
            : isNaN(iva)
                ? (addInvalidCssClass('iva', isvalid, componentId), isvalid = false, err = "Iva tem de ser um número")
                : iva < 0 || iva > 100
                    ? (addInvalidCssClass('iva', isvalid, componentId), isvalid = false, err = "Iva tem de ser um número entre 0 e 100")
                    : $('#iva' + componentId).removeClass('is-invalid');
        let errorDiv = $('#err' + componentId);

        isvalid
            ? (errorDiv.text(''), isvalid = true, errorDiv.addClass('d-none'))
            : (errorDiv.text(err), errorDiv.removeClass('d-none'));

        return isvalid;
    }

    function addInvalidCssClass(campo, isvalid, componentId) {
        $('#' + campo + componentId).addClass('is-invalid');
        isvalid = false;
    }

    function saveComponente(componentId) {
        component = {
            id: componentId,
            nome: $('#nome' + componentId).val(),
            descricao: $('#descricao' + componentId).val(),
            tipo: $('#tipo' + componentId).val(),
            preco: $('#preco' + componentId).val(),
            iva: $('#iva' + componentId).val(),
            image: imagebytea == "" ? $('#imagemcomponente' + componentId).attr('src') : imagebytea
        }
        if (componentId == "")
            component.criadoPor = "{{ request.session.user.0 }}";
        if (!isFormValid(component.nome, component.descricao, component.tipo, component.preco, component.iva, component.image, component.id))
            return;

        $.ajax({
            url: "/gerircomponentes",
            type: "POST",
            data: { componente: JSON.stringify(Object.values(component)), csrfmiddlewaretoken: '{{ csrf_token }}', action: componentId == "" ? 'add' : 'edit' },
            success: function (response) {
                if (response == "edit") {
                    $('#editModal' + componentId).modal('hide');
                    $('#editModal' + componentId).on('hidden.bs.modal', function () {
                        let table = $('#componentestable').DataTable();
                        let row = table.row(selectedRow);
                        if (row) {
                            row.data([
                                `<b>${component.nome}</b>`,
                                component.descricao.length > 130 ? component.descricao.substring(0, 130) + "..." : component.descricao,
                                $('#tipo' + componentId + ' option:selected').text(),
                                component.preco + "€",
                                `<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal${componentId}"><i class="fas fa-edit"></i></button>
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal${componentId}"><i class="fas fa-trash"></i></button>`
                            ]).draw(false);
                            $('#editModal' + componentId).unbind('hidden.bs.modal');
                        }
                    });
                    return;
                }
                if (response.includes("add")) {
                    response = JSON.parse(response.replace("add,", ""));
                    
                    let newId = response[0];
                    response[4] = parseFloat(response[4]).toFixed(2);
                    component.preco = parseFloat(component.preco).toFixed(2);
                    $('#createModal').modal('hide');
                    $('#createModal').on('hidden.bs.modal', function () {
                        let newRow = [
                            `<strong>${component.nome}</strong>`,
                            component.descricao.length > 130 ? component.descricao.substring(0, 130) + "..." : component.descricao,
                            $('#tipo option:selected').text(),
                            component.preco + "€",
                            `<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal${newId}"><i class="fas fa-edit"></i></button>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal${newId}"><i class="fas fa-trash"></i></button>`
                        ];
                        let table = $('#componentestable').DataTable();
                        table.row.add(newRow).draw();

                        $('#nome').val("");
                        $('#descricao').val("");
                        $('#preco').val("");
                        $('#iva').val("");
                        $('#imagemcomponente').attr('src', "");
                        $('#image').val("");
                        $('#tipo').val($('#tipo option:first').val());
                        imagebytea = "";
                        $('#createModal').unbind('hidden.bs.modal');
                        componentValues = Object.values(response);

                        $.ajax({
                            url: "modals/componentes/editdeletecomponente",
                            type: "POST",
                            data: { componente: JSON.stringify(componentValues), csrfmiddlewaretoken: '{{ csrf_token }}' },
                            success: function (response) {
                                component = {};
                                let modal = response;
                                $('div[name="editdeletemodal"]').last().after(modal);
                            },
                            error: function (xhr, errmsg, err) {
                                console.log(xhr.status + ": " + xhr.responseText);
                            }
                        });

                    });
                    return;
                }

            },

            error: function (xhr, errmsg, err) {
                console.log(xhr.status + ": " + xhr.responseText);
            }
        });
    };

    function convertImageToBytea(componentId) {
        var reader = new FileReader();
        reader.readAsDataURL($('#image' + componentId)[0].files[0]);
        reader.onload = function () {
            imagebytea = reader.result;
            $('#imagemcomponente' + componentId).attr('src', imagebytea);
        };
        reader.onerror = function (error) {
            console.log('Error: ', error);
        };
    }

    function deletecomponente(componentId) {
        $.ajax({
            url: "/gerircomponentes",
            type: "POST",
            data: { id: componentId, csrfmiddlewaretoken: '{{ csrf_token }}', action: 'delete' },

            success: function (json) {
                $('#deleteModal' + componentId).modal('hide');
                $('#deleteModal' + componentId).on('hidden.bs.modal', function () {
                    let table = $('#componentestable').DataTable();
                    table.row(selectedRow).remove().draw();
                    $('#deleteModal' + componentId).unbind('hidden.bs.modal');
                });
            },

            error: function (xhr, errmsg, err) {
                console.log(xhr.status + ": " + xhr.responseText);
            }
        });
    };
</script>

{% endblock %}