{% extends 'base.html' %}

{% block title %}Componentes{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Componentes</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Preco</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for componente in componentes %}
                    {% if componente.9 %}
                    <tr>
                        <th id="nomecomponente{{ componente.0 }}" scope="row">{{ componente.1 }}</th>
                        <td id="descricaocomponente{{ componente.0 }}">{{ componente.2 }}</td>
                        <td id="tipocomponente{{ componente.0 }}">{{ componente.3 }}</td>
                        <td id="precocomponente{{ componente.0 }}">{{ componente.4 }}€</td>
                        <td>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#editModal{{ componente.0 }}"><i class="fas fa-edit"></i></button>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#deleteModal{{ componente.0 }}"><i class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                    <div class="modal fade" id="editModal{{ componente.0 }}" tabindex="-1"
                        aria-labelledby="editModalLabel{{ componente.0 }}" aria-hidden="true" data-bs-backdrop="static">
                        <div style="max-width: 1000px;" class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editModalLabel{{ componente.0 }}">Editar Componente</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    {% csrf_token %}
                                    <form action="/editarcomponente" method="POST">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label for="nome" class="form-label">Nome</label>
                                                    <input type="text" class="form-control" id="nome{{componente.0}}"
                                                        name="nome{{ componente.0 }}" value="{{ componente.1 }}">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="descricao" class="form-label">Descrição</label>
                                                    <textarea class="form-control" id="descricao{{componente.0}}"
                                                        name="descricao{{componente.0}}"
                                                        rows="3">{{ componente.2 }}</textarea>
                                                </div>
                                                <div class="mb-3">
                                                    <div class="mb-3">
                                                        <label for="tipo" class="form-label">Tipo</label>
                                                        <select class="form-select" id="tipo{{componente.0}}" name="tipo{{componente.0}}">
                                                            {% for tipo in tiposcomponente %}
                                                            <option value="{{ tipo.0 }}" {% if tipo.1 == componente.3 %}selected{% endif %}>{{ tipo.1 }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="preco" class="form-label">Preço</label>
                                                    <input type="text" class="form-control" id="preco{{componente.0}}"
                                                        name="preco{{componente.0}}" value="{{ componente.4 }}">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="iva" class="form-label">Iva</label>
                                                    <input type="text" class="form-control" id="iva{{componente.0}}"
                                                        name="iva{{component.0}}" value="{{ componente.5 }}">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label for="image" class="form-label">Imagem</label>
                                                    <img style="width: 100%;" id="imagemcomponente{{ componente.0 }}"
                                                        src="{{ componente.6 }}" alt="Component Image"
                                                        class="img-fluid">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="image" class="form-label">Upload Imagem</label>
                                                    <input type="file" onchange="convertImageToBytea()"
                                                        class="form-control" id="image{{component.0}}"
                                                        name="image{{component.0}}">
                                                </div>
                                            </div>
                                        </div>
                                        <input type="hidden" name="id" value="{{ componente.0 }}">
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" id="btnclose{{ componente.0 }}" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Fechar</button>
                                    <button type="button" onclick='saveComponente("{{ componente.0 }}")'
                                        class="btn btn-primary">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="deleteModal{{ componente.0 }}" tabindex="-1"
                        aria-labelledby="deleteModalLabel{{ componente.0 }}" aria-hidden="true"
                        data-bs-backdrop="static">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel{{ componente.0 }}">Confirmar Eliminação
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Tem certeza que deseja excluir o componente "{{ componente.1 }}"?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancelar</button>
                                    <a onclick='deletecomponente("{{ componente.0 }}")'
                                        class="btn btn-danger">Eliminar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    let imagebytea = "";
    function saveComponente(componentId) {
        component = {
            id: componentId,
            nome: $('#nome' + componentId).val(),
            descricao: $('#descricao' + componentId).val(),
            tipo: $('#tipo' + componentId).val(),
            preco: $('#preco' + componentId).val(),
            iva: $('#iva' + componentId).val(),
            image: imagebytea
        }

        $.ajax({
            url: "/gerircomponentes",
            type: "POST",
            data: { componente: JSON.stringify(component), csrfmiddlewaretoken: '{{ csrf_token }}', action: 'edit' },
            success: function (json) {
                $('#editModal' + componentId).modal('hide');
                $('#editModal' + componentId).on('hidden.bs.modal', function () {
                    $('#nomecomponente' + componentId).text(component.nome);
                    $('#descricaocomponente' + componentId).text(component.descricao);
                    $('#precocomponente' + componentId).text(component.preco + "€");
                    $('#imagemcomponente' + componentId).attr('src', component.image);
                    $('#tipocomponente' + componentId).text($('#tipo' + componentId + ' option:selected').text());
                });
            },

            error: function (xhr, errmsg, err) {
                console.log(xhr.status + ": " + xhr.responseText);
            }
        });
    };

    function convertImageToBytea() {
        var reader = new FileReader();
        reader.readAsDataURL($('#image')[0].files[0]);
        reader.onload = function () {
            imagebytea = reader.result;
        };
        reader.onerror = function (error) {
            console.log('Error: ', error);
        };
    }

    function deletecomponente(componentId) {
        $.ajax({
            url: "/gerircomponentes",
            type: "POST",
            data: { id: componentId, csrfmiddlewaretoken: '{{ csrf_token }}', action: 'delete' },

            success: function (json) {
                $('#deleteModal' + componentId).modal('hide');
                $('#nomecomponente' + componentId).parent().remove();
            },

            error: function (xhr, errmsg, err) {
                console.log(xhr.status + ": " + xhr.responseText);
            }
        });
    };
</script>

{% endblock %}