<div name="editdeletemodal">
    <div name="modalsdiv">
        <div class="modal fade" id="editModal{{ componente.0 }}" tabindex="-1"
            aria-labelledby="editModalLabel{{ componente.0 }}" aria-hidden="true" data-bs-backdrop="static">
            <div style="max-width: 1000px;" class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel{{ componente.0 }}">Editar Componente
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/editarcomponente" method="POST">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="nome" class="form-label">Nome</label>
                                        <input type="text" class="form-control" id="nome{{componente.0}}" name="nome"
                                            value="{{ componente.1 }}">
                                    </div>
                                    <div class="mb-3">
                                        <label for="descricao" class="form-label">Descrição</label>
                                        <textarea class="form-control" id="descricao{{componente.0}}" name="descricao"
                                            rows="3" maxlength="255">{{ componente.2 }}</textarea>
                                    </div>
                                    <div class="mb-3">
                                            <label for="tipo" class="form-label">Tipo</label>
                                            <select class="form-select" id="tipo{{componente.0}}" name="tipo">
                                                {% for tipo in tiposcomponente %}
                                                <option value="{{ tipo.0 }}" {% if tipo.1 == componente.3 %} selected {% endif %}>
                                                    {{ tipo.1 }}
                                                </option>
                                                {% endfor %}
                                            </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="preco" class="form-label">Preço</label>
                                        <input type="number" class="form-control" id="preco{{componente.0}}"
                                            name="preco" value="{{ componente.4|floatformat:2 }}">
                                    </div>
                                    <div class="mb-3">
                                        <label for="iva" class="form-label">Iva</label>
                                        <input type="number" class="form-control" id="iva{{componente.0}}" name="iva"
                                            value="{{ componente.5 }}" min="0" max="100">
                                    </div>
                                    <div class="mb-3">
                                        <label for="quantidade" class="form-label">Quantidade em
                                            armazém</label>
                                        <input disabled type="number" class="form-control"
                                            id="quantidade{{componente.0}}" name="quantidade"
                                            value="{{ componente.7 }}">
                                    </div>
                                    {% if componente.7 > 0 %}
                                    <div class="mb-3">
                                        <span>Armazéns em que se encontra</span>
                                        <ul name="armazenslist{{ componente.0 }}">
                                            {% for componenteA in componentesarmazem %}
                                            {% if componenteA.0 == componente.0 %}
                                            <li>
                                                <b data-bs-toggle="tooltip" data-bs-placement="top" title="{{componenteA.5}}">{{componenteA.3}}</b>
                                                : {{componenteA.4}} unidades</li>
                                            {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {% endif %}
                                    <div id="err{{ componente.0 }}" class="alert alert-danger d-none" role="alert">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="image" class="form-label">Imagem</label>
                                        <img style="width: 100%;" id="imagemcomponente{{ componente.0 }}"
                                            {% if componente.6 != '' %} src="{{ componente.6 }}" 
                                            {% else %} src="/static/img/noimage.png" {% endif %}
                                            alt="Imagem do Componente" class="img-fluid">
                                    </div>
                                    <div class="mb-3">
                                        <label for="image" class="form-label">Escolher Imagem</label>
                                        <input type="file" onchange="convertImageToBytea('{{ componente.0 }}')"
                                            class="form-control" id="image{{ componente.0 }}" name="image">
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="id" value="{{ componente.0 }}">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnclose{{ componente.0 }}" class="btn btn-secondary"
                            data-bs-dismiss="modal">Fechar</button>
                        <button type="button" onclick='saveComponente("{{ componente.0 }}")'
                            class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteModal{{ componente.0 }}" tabindex="-1"
            aria-labelledby="deleteModalLabel{{ componente.0 }}" aria-hidden="true" data-bs-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel{{ componente.0 }}">Confirmar
                            Eliminação
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Tem certeza que deseja excluir o componente "{{ componente.1 }}"?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <a onclick='deletecomponente("{{ componente.0 }}")' class="btn btn-danger">Eliminar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>