<div name="editdeletemodal">
    <div name="modalsdiv">
        <div class="modal fade" id="editModal{{ equipamento.0 }}" tabindex="-1"
            aria-labelledby="editModalLabel{{ equipamento.0 }}" aria-hidden="true" data-bs-backdrop="static">
            <div style="max-width: 1400px;" class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel{{ equipamento.0 }}">Editar Equipamento
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/editarequipamento" method="POST">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label for="nome" class="form-label">Nome</label>
                                        <input type="text" class="form-control" id="nome{{equipamento.0}}" name="nome"
                                            value="{{ equipamento.1 }}">
                                    </div>
                                    <div class="mb-3">
                                        <label for="descricao" class="form-label">Descrição</label>
                                        <textarea class="form-control" id="descricao{{equipamento.0}}" name="descricao"
                                            rows="3" maxlength="255">{{ equipamento.2 }}</textarea>
                                    </div>
                                    <div class="mb-3">
                                            <label for="tipo" class="form-label">Tipo</label>
                                            <select class="form-select" id="tipo{{equipamento.0}}" name="tipo">
                                                {% for tipo in tiposequipamento %}
                                                <option value="{{ tipo.0 }}" {% if tipo.1 == equipamento.3 %} selected {% endif %}>
                                                    {{ tipo.1 }}
                                                </option>
                                                {% endfor %}
                                            </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="preco" class="form-label">Preço</label>
                                        <input type="number" class="form-control" id="preco{{equipamento.0}}"
                                            name="preco" value="{{ equipamento.4|floatformat:2 }}">
                                    </div>
                                    <div class="mb-3">
                                        <label for="iva" class="form-label">Iva</label>
                                        <input type="number" class="form-control" id="iva{{equipamento.0}}" name="iva"
                                            value="{{ equipamento.5 }}" min="0" max="100">
                                    </div>
                                    <div class="mb-3">
                                        <label for="maoobra" class="form-label">Mão de obra</label>
                                        <select class="form-select" id="maoobra{{equipamento.0}}" name="maoobra">
                                            {% for mao in maoobra %}
                                            <option value="{{ mao.0 }}" {% if mao.0 == equipamento.9 %} selected {% endif %} >{{ mao.1 }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="quantidade" class="form-label">Quantidade em
                                            armazém</label>
                                        <input disabled type="number" class="form-control"
                                            id="quantidade{{equipamento.0}}" name="quantidade"
                                            value="{{ equipamento.7 }}">
                                    </div>                                    
                                    {% if equipamento.7 > 0 %}
                                    <div class="mb-3">
                                        <span>Armazéns em que se encontra</span>
                                        <ul name="armazenslist{{ equipamento.0 }}">
                                            {% for equipamentoA in equipamentosarmazem %}
                                            {% if equipamentoA.0 == equipamento.0 %}
                                            <li>
                                                <b data-bs-toggle="tooltip" data-bs-placement="top" title="{{equipamentoA.5}}">{{equipamentoA.3}}</b>
                                                : {{equipamentoA.4}} unidades</li>
                                            {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {% endif %}
                                    <div id="err{{ equipamento.0 }}" class="alert alert-danger d-none" role="alert">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label for="tipo" class="form-label">Tipo</label>
                                        <select class="form-select" id="tipo{{ equipamento.0 }}" name="tipo">
                                            <option value="0">Tipo de componente</option>
                                            {% for tipo in tiposcomponente %}
                                            <option value="{{ tipo.0 }}">{{tipo.1}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="componente" class="form-label">Componente</label>
                                        <select class="form-select" id="componente{{ equipamento.0 }}" name="componente">
                                            <option value="0">Selecione um tipo</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <button id="btnaddcomponentes{{equipamento.0}}" type="button" disabled
                                            onclick='addComponentToList("{{ equipamento.0 }}")' class="btn btn-success">
                                            Adicionar componente à lista
                                        </button>
                                    </div>
                                    <div id="componenteserr{{ equipamento.0 }}" class="alert alert-danger d-none"
                                        role="alert">
                                    </div>
                                    <span>Componentes adicionados (clique no componente para
                                        remover)</span>
                                    <ul class="listacomponentes" id="addedcomponentes{{ equipamento.0 }}">
                                        {% for componenteP in producaoequipamento %} 
                                            {% if componenteP.1 == equipamento.0 %}
                                                {% for componente in componentes %}
                                                    {% if componente.0 == componenteP.3 %}
                                                    <li>
                                                        <a id="{{componente.0}}" 
                                                        onclick="this.parentNode.parentNode.removeChild(this.parentNode);">{{componente.1}}
                                                        </a>
                                                    </li>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %} 
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label for="image" class="form-label">Imagem</label>
                                        <img style="width: 100%;" id="imagemequipamento{{ equipamento.0 }}"
                                            {% if equipamento.6 != '' %} src="{{ equipamento.6 }}" 
                                            {% else %} src="/static/img/noimage.png" {% endif %}
                                            alt="Imagem do equipamento" class="img-fluid">
                                    </div>
                                    <div class="mb-3">
                                        <label for="image" class="form-label">Escolher Imagem</label>
                                        <input type="file" accept="image/*" onchange='convertImageToBytea({{ equipamento.0 }})' 
                                        class="form-control" id="image{{ equipamento.0 }}"
                                            name="image" />
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="id" value="{{ equipamento.0 }}">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnclose{{ equipamento.0 }}" class="btn btn-secondary"
                        data-bs-dismiss="modal">Fechar</button>
                        <button type="button" onclick='saveequipamento("{{ equipamento.0 }}")'
                            class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteModal{{ equipamento.0 }}" tabindex="-1"
            aria-labelledby="deleteModalLabel{{ equipamento.0 }}" aria-hidden="true" data-bs-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel{{ equipamento.0 }}">Confirmar
                            Eliminação
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Tem certeza que deseja excluir o equipamento "{{ equipamento.1 }}"?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <a onclick='deleteequipamento("{{ equipamento.0 }}")' class="btn btn-danger">Eliminar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>