<div name="vieweditcomponentes">
    <div class="modal fade" id="componentesModal{{ fornecedor.0 }}" tabindex="-1"
        aria-labelledby="componentesModal{{ fornecedor.0 }}" aria-hidden="true" data-bs-backdrop="static">
        <div style="max-width: 1000px" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="componentesModal{{ fornecedor.0 }}">
                        Componentes do Fornecedor: {{ fornecedor.1 }}
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/editarfornecedor" method="POST">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="tipo" class="form-label">Tipo</label>
                                    <select class="form-select" id="tipo{{ fornecedor.0 }}" name="tipo">
                                        <option value="0">Tipo de componente</option>
                                        {% for tipo in tiposcomponente %}
                                        <option value="{{ tipo.0 }}">{{tipo.1}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="componente" class="form-label">Componente</label>
                                    <select class="form-select" id="componente{{ fornecedor.0 }}" name="componente">
                                        <option value="0">Selecione um tipo</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <button id="btnaddcomponentes{{fornecedor.0}}" type="button" disabled
                                        onclick='addComponentToList("{{ fornecedor.0 }}")' class="btn btn-success">
                                        Adicionar componente à lista
                                    </button>
                                </div>
                                <div id="componenteserr{{ fornecedor.0 }}" class="alert alert-danger d-none"
                                    role="alert"></div>
                            </div>
                            <div class="col-md-6">
                                <span>Componentes adicionados (clique no componente para
                                    remover)</span>
                                <ul class="listacomponentes" id="addedcomponentes{{ fornecedor.0 }}">
                                    {% for componente in fornecedorcomponente %} {% if componente.0 == fornecedor.0 %}
                                    <li onclick="this.parentNode.removeChild(this);">
                                        <a id="{{componente.0}}">{{componente.3}}</a>
                                    </li>
                                    {% endif %} {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <input type="hidden" name="id" value="{{ fornecedor.0 }}" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnclose{{ fornecedor.0 }}" class="btn btn-secondary"
                        data-bs-dismiss="modal">
                        Fechar
                    </button>
                    <button type="button" onclick='savecomponentesfornecedor("{{ fornecedor.0 }}")' class="btn btn-primary">
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>